* {
	box-sizing: border-box;
}

ul,
ol {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: #fff;
}

li {
	list-style-type: none;
}

header {
	padding: 24px 0;
	background-color: #000;
	color: #fff;
}

.container {
	width: 1170px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.d-flex {
	display: flex;
}

.justify-between {
	justify-content: space-between;
}

.align-center {
	align-items: center;
}

.main-menu {
	column-gap: 48px;
	.menu-item {
		position: relative;
	}

	.menu-item:hover .menu-secondary {
		display: block;
	}

	.menu-item:hover::after {
		content: "";
		height: 26px;
		width: 160px;
		position: absolute;
		top: 100%;
		left: 0;
	}

	.menu-secondary {
		position: absolute;
		top: calc(100% + 24px);
		left: 0;
		display: none;
		width: 160px;
		padding: 12px;
		background-color: #000;
	}

	.menu-item:last-child():hover .menu-secondary {
		right: 0;
	}
}
