@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@font-face {
	font-family: myFont;
	src: url(./fonts/Itim/Itim-Regular.ttf);
}

/* h2 {
	background-color: yellow;
} */

div > p {
	color: violet;
}

h2 {
	font-family: "myFont", sans-serif;
}

section {
	/* font-family: "Roboto", sans-serif; */
	font-family: "Inter", sans-serif;
	/* font-family: */
	/* font-weight: ; */
	/* font-size: ; */
	/* font-style: ; */
	text-decoration: line-through;
	text-align: center;
}
