.product {
	border-radius: 12px;
	min-width: 200px;

	> .product-content {
		background-color: aqua;
	}
	&-title {
		h3 {
			a {
				font-size: 32px;
				color: red;
				&:hover {
				}
			}
		}
	}
}
