/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* 
ff: font-family
fs: font-size
fw: font-weight
*/

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:root {
	--ff-primary: "Poppins", serif;
	--ff-secondary: "Sen", serif;
	--primary-color: aqua;
	--secondary-color: #31c3e0;
	--fs: 1.6rem;
	--fw: 400;
}

html {
	font-size: 62.5%;
	font-family: "Inter", sans-serif;
	font-weight: 400;
}

body {
	font-size: 1.6rem;
}

.container {
	width: 1170px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

a {
	text-decoration: none;
}

a:visited {
	color: unset;
}

.d-flex-between {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.btn {
	font-weight: 500;
	font-family: "Poppins", serif;
	color: #fff;
	border-radius: 8px;
	-webkit-transition: all ease-in-out 0.3s;
	-o-transition: all ease-in-out 0.3s;
	transition: all ease-in-out 0.3s;
	cursor: pointer;
	border: none;
}

.btn:hover {
	opacity: 0.7;
}

.btn-header {
	font-size: 14px;
	padding: 16px 28px;
	background-color: var(--secondary-color);
}

.btn-search {
	font-size: 16px;
	padding: 14px 20px;
	background-color: var(--primary-color, orange);
}

.btn-seemore {
	padding: 24px 32px;
	border-radius: 12px;
	background-color: var(--primary-color, orange);
	font-size: 18px;
	font-weight: 600;
	font-family: "Poppins", serif;
	-webkit-box-shadow: 0px 30px 30px -18px rgba(229, 89, 54, 0.16);
	box-shadow: 0px 30px 30px -18px rgba(229, 89, 54, 0.16);
	margin-left: auto;
	margin-right: auto;
	display: block;
}

img {
	width: 100%;
}

/* header */
header {
	padding: 38px 0;
	.nav__inner {
		gap: 34px;
		a {
			padding: 12px 0;
			color: #676a6c;
			font-size: 14px;
			font-weight: 500;
			-webkit-transition: all ease-in-out 0.3s;
			-o-transition: all ease-in-out 0.3s;
			transition: all ease-in-out 0.3s;
			position: relative;
			&:hover {
				color: #2d3134;
			}
			&::after {
				width: 0;
				-webkit-transition: width ease-in-out 0.3s;
				-o-transition: width ease-in-out 0.3s;
				transition: width ease-in-out 0.3s;
				content: "";
				position: absolute;
				bottom: 2px;
				left: 0;
				height: 4px;
				background-color: var(--primary-color, orange);
				border-radius: 99px;
			}
			&:hover::after {
				width: 30%;
			}
		}
	}
}

/* header */

/* banner */

#banner {
	background-image: url("../imgs/banner.png");
	background-repeat: no-repeat;
	background-position: center;

	h1 {
		text-align: center;
		padding: 140px 0;
		font-size: 62px;
		font-family: "Poppins", serif;
		color: #2d3134;
		font-weight: 700;
	}
}
/* banner */

/* recent */

#recent {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	gap: 56px;
}

#recent .left-content,
#recent .right-content {
	-ms-flex-negative: 1;
	flex-shrink: 1;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

#recent .left-content {
	-ms-flex-preferred-size: 626px;
	flex-basis: 626px;
	h2 {
		font-size: 40px;
		font-weight: 700;
		font-family: "Poppins", serif;
		margin-top: 24px;
	}
}

#recent .right-content {
	background-color: #ececec;
	border-radius: 10px;
	padding: 30px;
	-ms-flex-preferred-size: 488px;
	flex-basis: 488px;

	form {
		gap: 20px;
		margin-bottom: 40px;
	}

	input {
		padding: 18px 20px;
		background-color: #fff;
		border-radius: 8px;
		-webkit-box-flex: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;
		border: none;
	}

	input:focus {
		outline: 1px solid aqua;
	}

	h3 {
		margin-bottom: 30px;
	}

	.recent-item {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		gap: 20px;
		margin-bottom: 20px;
		line-height: 30px;
		color: #2d3134;
	}

	.recent-item:last-child {
		margin-bottom: 0;
	}

	.recent-item__img {
		width: 100px;
		height: 90px;
		border-radius: 8px;
	}
}
/* recent */

/* blogs */

#blogs {
	padding-bottom: 140px;
}

.blogs__inner {
	gap: 30px;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding: 112px 0 80px;
	margin-left: auto;
	margin-right: auto;
}

#blogs .blog-item {
	min-width: 370px;
	-webkit-box-flex: 1;
	-ms-flex: 1 1 370px;
	flex: 1 1 370px;
}

#blogs .blog-item__title {
	font-size: 24px;
	font-weight: 600;
	line-height: 32px;
	color: #2d3134;
	margin-top: 20px;
	margin-bottom: 16px;
}

#blogs .blog-item__desc {
	color: #676a6c;
	line-height: 26px;
	margin-bottom: 20px;
}

#blogs .read-more {
	color: var(--primary-color, orange);
	font-size: 20px;
	font-weight: 500;
	font-family: "Poppins", serif;
}

/* blogs */

/* footer */

.footer__top {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	gap: 40px;
	margin-bottom: 40px;

	h5 {
		color: #020000;
		font-weight: 600;
		margin-bottom: 24px;
	}

	a {
		font-size: 12px;
		font-weight: 400;
		color: #676a6c;
		line-height: 38px;
	}

	p {
		font-size: 12px;
		font-weight: 400;
		color: #676a6c;
		padding: 22px 0 40px;
	}

	.mailto {
		color: #31c3e0;
		font-size: 16px;
		font-weight: 700;
	}
}

.footer_bottom {
	margin-top: 40px;
	padding-bottom: 35px;
	.nav__inner {
		gap: 34px;
		a {
			padding: 12px 0;
			color: #676a6c;
			font-size: 14px;
			font-weight: 500;
			-webkit-transition: all ease-in-out 0.3s;
			-o-transition: all ease-in-out 0.3s;
			transition: all ease-in-out 0.3s;
			position: relative;
			&:hover {
				color: #2d3134;
			}
			&::after {
				width: 0;
				-webkit-transition: width ease-in-out 0.3s;
				-o-transition: width ease-in-out 0.3s;
				transition: width ease-in-out 0.3s;
				content: "";
				position: absolute;
				bottom: 2px;
				left: 0;
				height: 4px;
				background-color: var(--primary-color, orange);
				border-radius: 99px;
			}
			&:hover::after {
				width: 30%;
			}
		}
	}
}

footer .socials {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 16px;
	a {
		display: inline-block;
		padding: 12px;
		border-radius: 99px;
		border: 1px solid #ccc;
		font-size: 24px;
		color: #ccc;
		-webkit-transition: all ease-in-out 0.3s;
		-o-transition: all ease-in-out 0.3s;
		transition: all ease-in-out 0.3s;
	}
	a:hover {
		background-color: #ccc;
		color: #fff;
	}
}

/* footer */
