* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	font-weight: 400;
	font-family: "Poppins", serif;
	color: #171100;
}

body {
	font-size: 1.6rem;
}

.container {
	padding-left: 12rem;
	padding-right: 12rem;
}

.d-flex {
	display: flex;
}

.justify-between {
	justify-content: space-between;
}

.align-center {
	align-items: center;
}

.btn {
	color: #fff;
	border-radius: 99px;
	font-weight: 600;
	transition: all ease-in-out 0.3s;
}

.btn-small {
	padding: 12px 24px;
	font-size: 16px;
	background-color: #171100;
}

.btn-small:hover {
	background-color: #ffb900;
}

.btn-medium {
	padding: 16px 32px;
	font-size: 16px;
	background-color: #171100;
}

.btn-medium:hover {
	background-color: #ffb900;
}

.btn-big {
	padding: 18px 36px;
	font-size: 18px;
	background-color: #ffb900;
}

.btn-big:hover {
	background-color: #171100;
}
