/* HEADER: BEGIN */
header {
	padding: 36px;
	background-color: #fffcf4;
	position: fixed;
	z-index: 99;
	top: 0;
	right: 0;
	left: 0;
	.logo {
		width: 100px;
	}

	.nav-inner {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		gap: 42px;
		a:hover {
			font-weight: 600;
		}
	}
}

/* HEADER: END */

/* HERO: BEGIN */

#hero {
	padding: 164px 0;
	background-color: #fffcf4;
}

/* HERO: END */
